@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full;
}


/* Hides the black cross icon on the right of search inputs */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
